QToolTip {
    border: 1px solid antiquewhite;
    border-radius: 4px;
    padding: 2px;
    color: antiquewhite;
    background-image: url(images/welcome.png);
}


QMenuBar {
    min-height: 30px;
    border: 1px solid black;
    background-color: rgb(50, 50 ,50);
}